<!doctype html>
<html>

  <head>
    <style>
      %s
    </style>
    <script src="https://unpkg.com/vue@3.4.21"></script>

    <script type="module">
      %s 
    </script>
    <title>Hello from Flask</title>
  </head>

  <body>

    <div id="app" class="page-wrapper">

      <h1>pymoo Dashboard</h1>
      {{tableWidgets.size}}
      <div id="widget-wrapper">
        <!-- Table widgets -->
        <div v-for="(tableContent, title) in tableWidgets" id="overview-tab-wrapper" class="widget">
          <h2>
            {{title}}
          </h2>
          <table id="overview-tab">
            <tr class="overview-tab-r" v-for="(val, key) in tableContent">
              <td class="tab-item-key">{{key}}</td>
              <td class="tab-item-val">{{val}}</td>
            </tr>
          </table>
        </div>

        <!-- Image widgets --> 
        <div 
          class="widget"
          v-for="(imageContent, title) in imageWidgets" 
          v-bind:id="'plot-wrapper-' + slugify(title)"
          @click="highlightWidget(title)"
          :class="{highlighted : widgetIsHighlighted(title)}"
          >

          <h2>
            {{title}}
          </h2>
          <img 
            v-bind:src="'data:image/gif; base64,' + imageContent"
            v-bind:id="'graph-image-' + slugify(title)"
            > </img>
        </div>

      </div>

    </div> 
      
  </body>

</html>
