
html {
  font-family: Open Sans,sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  text-align: center; 
}

.page-wrapper{
  max-width: calc(100% - 5rem);
  padding: 5rem;
  margin: auto;
  background-color: #e8e8e8;

}

#overview-tab, .overview-tab-r, .overview-tab-r > td  {
  border: 1px solid black;
  border-collapse: collapse;
}

#overview-tab{
  font-size: 1.2rem;
}


.overview-tab-r > td {
  padding: 0.4rem;  
}


#widget-wrapper {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.widget {
  width: 20rem;
  padding: 2rem;
  box-shadow: 5px 5px #c6c6c6;
  background-color: white;
  margin: 2rem 0 2rem 0;
  cursor: pointer;
}

.widget > img {
  width: 100%;
}

.highlighted {
 
  /* Center in view port */ 
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: calc(90vw - 2rem);
  height: calc(90vh - 2rem);
  margin: 0;
}

.highlighted.widget > img {
  height: 100%;
  width: auto;
}


