numpy
Cython
pytest
nbformat
wheel
jupyter
pyrecorder
optproblems
pandas
sphinx<4
numpydoc
nbsphinx
sphinxcontrib-bibtex<2.0.0
pydata-sphinx-theme<0.5
ipython
pygments
bs4
pandoc
sphinx_book_theme
ipykernel
