numpy
numba
optuna
pandas
pyrecorder
dask[distributed]
autograd
matplotlib
sphinx==3.5.4
pydata-sphinx-theme==0.4.0
sphinxcontrib-bibtex<2.0.0
numpydoc
nbsphinx
ipython
pygments
bs4
pandoc
ipykernel
jinja2==3.1.3
