sphinx==3.5.4
jinja2==2.10.1
markupsafe==1.1.1
sphinxcontrib-serializinghtml==1.1.4
nbsphinx==0.8.8
pydata-sphinx-theme==0.4.0
sphinxcontrib-bibtex<2.0.0
numpy
numba
optuna
pandas
pyrecorder
dask[distributed]
autograd
matplotlib
numpydoc
ipython
pygments
bs4
pandoc
ipykernel

